# Prettier Ignore
# Also respects .gitignore

# @kitschpatrol/prettier-config boilerplate
.claude/
package-lock.json
pnpm-lock.yaml
skills-lock.json

# Customizations
# Fights too much with brew style...
/Casks/
/Formula/
